/* ServiceMap.css */
.ServiceMap-container .dashboard-main {
    padding: 20px; /* Ensures there's some padding around the main content */
    color: #ffffff; /* Set text color to white */
    background-color: #111827; /* Darker background */
}

.ServiceMap-container .content-grid {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    gap: 20px; /* Adds space between the tables and the graph */
    width: 100%; /* Use full container width */
}

.ServiceMap-container .tables-container {
    display: flex; /* Using flexbox to align content side by side */
    justify-content: space-between; /* This will space out the boxes to use the available space */
    width: 100%;
    gap: 20px; /* Space between the content boxes */
}

/* General styles for all content boxes */
.ServiceMap-container .content-box {
    padding: 20px; /* Increased padding for a cleaner look */
    background-color: #1F2937; /* Dark background for the content boxes */
    border: 1px solid #666666; /* Subtle border for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Softer and larger shadow for depth */
    color: #ffffff; /* Text color to white */
    border-radius: 8px; /* Rounded corners for modern look */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /* Smooth hover effect */
}

.ServiceMap-container .content-box:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}

/* First two boxes take 25% each, and the last one takes 50% */
.ServiceMap-container .content-box {
    flex: 1;  /* Adjust flex-basis for each box */
    max-width: 25%; /* Limit width for the first two boxes */
}

.ServiceMap-container .content-box:last-child {
    flex: 2;  /* Double the space for the Expensive Transactions box */
    max-width: 50%; /* Allows the last box to take up half the space */
}

.ServiceMap-container .content-box h3 {
    margin-top: 0;
    color: #00bfff; /* Bright color for headers */
    padding-bottom: 10px; /* Space below the header */
    border-bottom: 2px solid #00bfff; /* Line under the header for separation */
    font-size: 1.5em; /* Larger font size for headers */
}

/* Table styling within ServiceMap page */
.ServiceMap-container table {
    width: 100%;
    border-collapse: separate; /* This allows for applying border spacing only horizontally */
    border-spacing: 0 1px; /* Horizontal spacing set to 0, vertical spacing as needed */
    margin-top: 10px;
}

.ServiceMap-container th, .ServiceMap-container td {
    padding: 10px;
    text-align: left;
    color: #ffffff;
    background-color: #1F2937; /* Ensures the cell backgrounds are colored */
}

.ServiceMap-container th {
    border-bottom: none; /* Removes the bottom border from the header */
    background-color: #34455c;
}

.ServiceMap-container th:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 2px;/* Rounded top left corner */
}

  

  
.ServiceMap-container th:last-child {
    
    border-top-right-radius: 8px;
    border-bottom-right-radius: 2px; /* Rounded top right corner */
}

.ServiceMap-container tr {
    background-color: #1F2937; /* Row background color, should match the cell color */
}

.ServiceMap-container tr:nth-child(odd) {
    background-color: #2c3e50; /* Alternating row background color for better readability */
}

.ServiceMap-container td {
    border-top: 1px solid #444; /* Adds horizontal line above each row */
}

.ServiceMap-container .content-box h3 {
    color: #f1f1f1; /* Bright color for headers */
    padding-bottom: 10px; /* Space below the header */
    border-bottom: 2px solid #e6e6e6; /* Line under the header for separation */
}

/* Graph container to position it below the tables */
.ServiceMap-container .graph-container {
    display: flex;
    flex-wrap: wrap;
     flex-direction: row;
    width: 45%;
    height: 500px; /* Adjust height as needed */
    padding: 20px; /* Increased padding inside the graph container */
    background-color: #1F2937; /* Match background color */
    border: 1px solid #666666; /* Subtle border for contrast */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Softer and larger shadow for depth */
    border-radius: 8px; /* Rounded corners for modern look */
}

.ServiceMap-container h2 {
    color: #ffffff; /* White color for the h2 element */
    text-decoration: underline; /* Underline the text */
    font-size: 1.5em; /* Larger font size */
    margin-bottom: 20px; /* Space below the heading */
}

.ServiceMap-container .graphs-container {
    display: flex;
    width: 100%;  /* Adjust this as needed to fit both graphs */
    justify-content: space-evenly;  /* This ensures even spacing */
}